<!-- THIS IS THE TEMPLATE FOR EACH SERVER -->
														<table align="center" width="90%" border="0" cellpadding="0" cellspacing="0">
															<tr>
																<td width="1" class="titleLeft"></td>
																<td class="titleHeader" colspan="2">
																	~REQPATCHING~~NAME~ - Rank ~RANK~
																</td>
																<td class="titleRight"></td>
															</tr>
															<tr>
																<td class="contentFieldLeft"></td>
																<td class="contentField">
																	~DESCRIPTION~																</td>
																<td  class="contentFieldLinks">
																    <table>
																        <tr>
																            <td><br />
																	            <a style="font-style:normal; text-decoration:none; font-weight:bold; color:#FFFFFF" href="~PLAYLINK~">play</a><br/>
																	            <a style="font-style:normal; text-decoration:none; font-weight:bold; color:#FFFFFF" href="~VOTELINK~">vote</a><br/>
																	            <a style="font-style:normal; text-decoration:none; font-weight:bold; color:#FFFFFF" href="~ADDTOFAVORITESLINK~">add to favorites</a><br/>
																	            <a style="font-style:normal; text-decoration:none; font-weight:bold; color:#FFFFFF" href="~MOREINFOLINK~">details</a><br/>
																	            <a style="font-style:normal; text-decoration:none; font-weight:bold; color:#FFFFFF" href="~WEBSITELINK~">website</a><br/>	
																            </td>
																        </tr>	
																	</table>															
															  </td>
																<td class="contentFieldRight"></td>
															</tr>
															<tr>
																<td class="contentFieldLeft"></td>
																<td class="contentField" colspan="2">
																	<center><span style="font-size:9px"></span></center>
																	<center><img src="~BANNER~" /></center>
																</td>
													            <td class="contentFieldRight"></td>
															</tr>
															<tr>
																<td class="contentBottomLeft"></td>
																<td class="contentBottom" colspan="2"></td>
																<td class="contentBottomRight"></td>
															</tr>
														</table>
														<div>&nbsp;</div>
														<!-- END LOOP -->
