.mainTable {
	width: 1280px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	margin: 0px;
	padding: 0px;
}
.mainTableLeft {
	background-image: url(images/bg_left.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
.mainTableRight {
	background-image: url(images/bg_right.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 259px;
}
.mainTableBody {
	background-color: #396594;
	width: 762px;
}
.top3 {
	height: 74px;
	width: 225px;
	background-image: url(images/top_3.gif);
	font-family: "Arial", Unicode, MS;
	font-size: 10px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: top;
}
.titleShadow {
	background-image: url(images/title_shadow.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 8px;
	width: 762px;
}
.title {
	background-image: url(images/title.gif);
	height: 74px;
	width: 537px;
}
.searchBar {
	background-color: #232F3C;
	text-align: right;
	height: 28px;
	vertical-align: top;
	padding-right: 10px;
}
.currentPage {
	background-image: url(images/page_title_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 762px;
	height: 84px;
	font-size: 24px;
	font-style: normal;
	line-height: 80px;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	text-indent: 50px;
	font-family: Georgia, "Arial", Unicode, MS;
}
.leftInset {
	background-image: url(images/inset_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 34px;
	width: 10px;
}
.insetItem {
	background-image: url(images/inset_item.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width: 75px;
	font-family: "Arial", Unicode, MS;
	font-size: 11px;
	line-height: 30px;
	text-transform: lowercase;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}
.rightInset {
	background-image: url(images/inset_right.gif);
	height: 34px;
	width: 10px;
}
.insetItemActive {
	background-image: url(images/menu_item_active.gif);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: "Arial", Unicode, MS;
	font-size: 11px;
	text-transform: lowercase;
	text-decoration: none;
	color: #61C6F6;
	width: 75px;
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
}

.insetSplit {
	background-image: url(images/inset_splitter.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 34px;
	width: 1px;
}
.menuSplit {
	background-image: url(images/menu_splitter.gif);
	height: 34px;
	width: 2px;
}



.offsetInsetMenu {
	text-indent: 50px;
	width: 50px;
	height: 34px;
}
.menuItem {
	width: 75px;
	font-family: "Arial", Unicode, MS;
	font-size: 11px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: lowercase;
	color: #333333;
	text-decoration: none;
	text-align: center;
	font-variant: normal;
}




.topMenu {
	background-image: url(images/menu_bar.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 34px;
}
.subMenu {
	background-image: url(images/sub_menu.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 37px;
	text-indent: 10px;
	font-size: 11px;
	color: #FFFFFF;
	font-family: "Arial", Unicode, MS;
	line-height: 35px;
}
.subMenuBg {
	background-image: url(images/sub_menu.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: right;
	font-family: "Arial", Unicode, MS;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}


.menuItemActive {
	width: 75px;
	font-family: "Arial", Unicode, MS;
	font-size: 11px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: lowercase;
	color: #003366;
	text-decoration: none;
	text-align: center;
	background-image: url(images/menu_active.gif);
}
.menuShadow {
	background-image: url(images/menu_shadow.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 21px;
}
.activePage {
	font-family: "Arial", Unicode, MS;
	font-size: 9px;
	font-variant: normal;
	text-transform: lowercase;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/page_item_active.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	width: 60px;
	text-align: center;
	line-height: 13px;
}

.pageBg {
	background-color: #DCE5F0;
	height: 16px;
	text-align: center;
}


.halfOffsetInsetMenu {

	text-indent: 25px;
	width: 50px;
	height: 34px;
}
.contentFieldLeft {
	background-image: url(images/entry_content_left.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 9px;
}

.inactivePage {

	font-family:"Arial", Unicode, MS;
	font-size: 9px;
	font-variant: normal;
	text-transform: lowercase;
	color: #000000;
	text-decoration: none;
	background-image: url(images/page_item.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	width: 60px;
	text-align: center;
	line-height: 13px;
}
.pageSpacer {
	width: 5px;
}
.leftContent {
	background-image: url(images/body_spacer_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 21px;
	width: 11px;
}

.contentBg {
	background-color: #396594;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #4d5157;
}

.rightContent {
	background-image: url(images/body_spacer_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 21px;
	width: 11px;
}
.titleLeft {
	background-image: url(images/entry_titlebar_left.gif);
	height: 30px;
	width: 9px;
	background-repeat: no-repeat;
	background-position: left top;
}
.titleHeader {
	background-image: url(images/titlebar.gif);
	height: 30px;
	background-repeat: repeat-x;
	background-position: left top;
	width: 625px;
	font-family: "Arial", Unicode, MS;
	font-size: 14px;
	color: #333333;
	line-height: 27px;
	font-weight: bold;
	text-transform: uppercase;
}
.titleRight {

	background-image: url(images/titlebar_right.gif);
	height: 30px;
	width: 9px;
}
.contentFieldRight {
	background-image: url(images/entry_content_right.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 10px;
}
.contentField {
	background-color: #222222;
	font-family: "Arial", Unicode, MS;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	width:550px;
}
.contentFieldCentered {
	background-color: #222222;
	font-family: "Arial", Unicode, MS;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	width:700px;
}
.contentBottomLeft {
	background-image: url(images/entry_content_bottom_left.gif);
	height: 9px;
	width: 9px;
}
.contentBottomRight {
	background-image: url(images/entry_content_bottom_right.gif);
	height: 9px;
	width: 10px;
}
.contentBottom {
	background-image: url(images/entry_content_bottom.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 9px;
}
.contentFieldLinks {
	background-color: #222222;    
	font-family: "Arial", Unicode, MS;
	font-size: 10px;
	text-transform:uppercase;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	text-align: right;
}
