<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ConnectUO Desktop - Help</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header"><img align="bottom" src="images/logo.png" width="404" height="58" /><img src="/images/cuoicon.png" width="110" height="96" /></div>
<div class="menu">
	<div align="right">
	  <span>
	  <a href="http://localhost.:1980/home">HOME</a> | 
	  <a href="http://localhost.:1980/favorites">FAVORITES</a> | 
	  <a href="http://localhost.:1980/help.html">HELP</a></span>
  </div>
</div>
<div class="list"><br />
	<a href="http://www.connectuo.com">ConnectUO.com</a><br />
  	<a href="http://www.connectuo.com/forum/forumdisplay.php?f=3">Client Support</a><br/>
  	<a href="http://www.connectuo.com/forum/forumdisplay.php?f=4">Server Support</a><br />
  	<a href="http://www.connectuo.com/forum/showthread.php?t=71">Serverlist Rules</a><br />
  	<a href="http://www.connectuo.com/forum/usercp.php">Add Your Server</a><br />
  	<a href="http://www.runuo.com/issues/index.php">Report a bug</a><br />
<br />
 	<a href="http://www.runuo.com">RunUO.com</a><br />
  	<a href="http://www.runuo.com/forums/server-support/">Server Support</a><br/>
  	<a href="http://www.runuo.com/forums/script-support/">Scripting Support</a><br />
  	<a href="http://www.runuo.com/forums/custom-script-releases/">Custom Released Scripts </a><br />
 	<a href="http://www.runuo.com/forums/utility-support/">Third-party Support </a><br />
 	<a href="http://www.runuo.com/issues/index.php">Report a bug</a><br />
</div>
</body>
</html>
