<div class="row">
		<div class="rowheadermiddle">rank&nbsp;%RANK% </div>
		<div class="blackbar"><img src="%STATUS%" />&nbsp;&nbsp;&nbsp;~REQPATCHING~%SERVERNAME%</div>
		<div class="desc">
		<table width="100%">
			<tr>
				<td width="63%" class="leftborder">
				<img src="%BANNER%" /><br />
			  <center><a href="%PLAYLINK%">PLAY</a> | <a href="%MOREINFOLINK%">MORE INFO</a> | <a href="%ADDTOFAVORITESLINK%">ADD TO FAVORITES</a> | <a href="%PLAYLINK%">VOTE</a> | <a href="%WEBSITELINK%">WEBSITE</a></center></td>
				<td width="37%" class="rightsidedesc">%DESCRIPTION%				</td>
			</tr>
		</table>
	</div>
</div><br />
