<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ConnectUO Desktop - Options</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style2 {
	font-size: 12px;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<table align="center" width="1024" border="0" cellpadding="0" cellspacing="0"><tr><td  height="18"></td></tr></table>
  <table align="center" width="1024" border="0" cellpadding="0" cellspacing="0" >  
  <tr>
    <td width="25px" class="leftside"></td>
    <td width="973" >
		<table class="" width="973" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="topheader" width="524" rowspan="2"><img src="images/title.gif" width="524" height="111" /></td>
    <td class="topheader" width="103" height="91"><img src="images/topspacer_01.gif" width="103" height="91" /></td>
    <td class="topheader" width="104"><img src="images/topspacer_02.gif" width="104" height="91" /></td>
    <td class="topheader" width="103"><img src="images/topspacer_03.gif" width="104" height="91" /></td>
    <td class="topheader" width="104"><img src="images/topspacer_04.gif" width="104" height="91" /></td>
    <td class="topheader" width="35" rowspan="2"><img src="images/title_end.gif" /></td>
  </tr>
  <tr>
    <td><a href="http://localhost:1980/home?page=1"><img src="images/homebtn.gif"images/homebtnactive.gif" width="103" height="20" border="0" /></a></td>
    <td><a href="http://localhost:1980/favorites"><img src="images/favoritesbtn.gif" width="104" height="20" border="0" /></a></td>
    <td><a href="http://localhost:1980/options"><img src="images/optionsbtnactive.gif" width="104" height="20" border="0" /></a></td>
    <td><a href="http://localhost:1980/addlocal"><img src="images/addlocalbtn.gif" width="104" height="20" border="0" /></a></td>
    </tr>
    </table>
    </td>
    <td width="26px" class="rightside"></td>
  </tr>
</table>
  <table align="center" width="1024" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25" class="leftside"></td>
    <td width="973" c>
	  <table width="100%" cellpadding="20px" border="0" cellspacing="0">
	    <tr>
	      <td>
			<table align="center" width="70%" border="0">
              <tr>
                <td align="center" class="statsrightbottom" width="26%"><form id="form1" name="form1" method="get" action="http://localhost:1980/detectclient">
                  <label>
                  <input width="50" type="submit" name="detectclient" value="Detect 2d" />
                  </label>
                  <input type="submit" name="detectclient" value="Detect 3d" />
                </form>                </td>
                <td class="statsend" width="74%">Client path: %CLIENTPATH%</td>
              </tr>
              <tr>
                <td align="center" class="statsrightbottom"><form id="form2" name="form2" method="get" action="http://localhost:1980/detectrazor">
                  <input type="submit" name="detectrazor" value="Detect Razor" />
                                </form>                </td>
                <td class="statsend" >Razor path: %RAZORPATH%</td>
              </tr>
              <tr>
                <td align="right" class="statsrightbottom">Load Razor: </td>
                <td class="statsend" ><form id="form3" name="form3" method="get" action="http://localhost:1980/loadrazor">
                  <input type="checkbox" name="checkbox" value="loadrazor" %LOADRAZOR% />
                  <input type="submit" name="Submit322" value="Set" />
                </form>                </td>
              </tr>
              <tr>
                <td class="statsrightbottom"><div align="right">Template:</div></td>
                <td class="statsend" ><form id="form4" name="form4" method="get" action="http://localhost:1980/changetemplate">	                <select name="template">
                  %TEMPLATELIST%
                </select>
                  <input type="submit" name="Submit32" value="Set" /> 
				 </form></td>
              </tr>
            </table>			
			<div>&nbsp;</div>
			<div align="center"><span class="style2">©2007 </span><strong><a href="www.connectuo.com">www.connectuo.com</a></strong>            <span class="style2"> All rights reserved.</span> </div></td>
	    </tr>
	  </table>
    </td>
    <td width="26" class="rightside"></td>
  </tr>
</table>
<table align="center" width="1024" border="0" cellpadding="0" cellspacing="0"><tr><td  height="18" class="bottom"></td></tr></table>
</body>

</html>
