<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ConnectUO Desktop - Favorites</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style2 {
	font-size: 12px;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<div align="center"><span class="buttons">This template was made to be viewed with Firefox 2.0 and IE 7.0</span></div>
<table align="center" width="1024" border="0" cellpadding="0" cellspacing="0"><tr><td class="top" height="18"></td></tr></table>
  <table align="center" width="1024" border="0" cellpadding="0" cellspacing="0" >  
  <tr>
    <td width="25px" class="leftside"></td>
    <td width="973" >
		<table class="" width="973" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="111" rowspan="1" valign="bottom" class="backing"><div align="left"><img src="images/cuoicon.png" width="110" height="96" /><img src="images/title.png" width="540" height="85" /><a href="http://localhost.:1980/home.html?page=1"><img alt="" src="images/homebtn.gif" width="103" height="20" border="0" /></a><a href="http://localhost.:1980/favorites.html"><img alt="" src="images/favoritesbtnactive.gif" width="104" height="20" border="0" /></a><a href="http://localhost.:1980/help.html"><img alt="" src="images/helpbtn.gif" width="104" height="20" border="0" /></a></div></td>
    </tr>  
    </table>
    </td>
    <td width="26px" class="rightside"></td>
  </tr>
</table>  
  <table align="center" width="1024" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25" class="leftside"></td>
    <td width="973" style="background-image: url(images/serverbacking.gif);background-repeat: repeat-x;background-position: left top;">
	 <table width="100%" cellpadding="20px" border="0" cellspacing="0">
	    <tr>
	      <td>
			<%
			    List<IEntry> allEntries = new List<IEntry>();
				allEntries.AddRange((IEntry[])Favorites.Customs.ToArray());
				allEntries.AddRange((IEntry[])Favorites.MyFavorites.ToArray());

				if( allEntries.Count == 0 )
					Echo("No Favorites");
				else
				{
					for( int i = 0; i < allEntries.Count; i++ )
					{
						IEntry entry = allEntries[i];

						string row = Templates.CurrentTemplate.GetPage("row.html");

                    Replace(ref row, "~REQPATCHING~", string.IsNullOrEmpty(entry.PatchUrl) ? "" : "*"); 
						Replace(ref row, "%BANNER%", entry.Banner);
						Replace(ref row, "%SERVERNAME%", entry.Name);
						Replace(ref row, "%DESCRIPTION%", entry.Description);
						Replace(ref row, "%MOREINFOLINK%", entry.MoreInfoLink);						
						Replace(ref row, "%ADDTOFAVORITESLINK%", "http://localhost.:1980/removefavorite?id=" + entry.Id);
						Replace(ref row, "ADD TO FAVORITES", "REMOVE FROM FAVORITES");
						Replace(ref row, "%PLAYLINK%", entry.PlayLink);
						Replace(ref row, "%WEBSITELINK%", entry.WebsiteLink);
						Replace(ref row, "%TYPE%", entry.Type);
						Replace(ref row, "%ERA%", entry.Era);
						Replace(ref row, "%LANG%", entry.Lang);
						Replace(ref row, "%ONLINE%", entry.CurOnline);
						Replace(ref row, "%AVG%", entry.AvgOnline);
						Replace(ref row, "%PEAK%", entry.MaxOnline);
						Replace(ref row, "%RANK%", entry.Rank);
						Replace(ref row, "%VOTES%", entry.Votes);
						Replace(ref row, "%TOTALVOTES%", entry.TotalVotes);
						Replace(ref row, "%OUT%", entry.Out);
						Replace(ref row, "%TOTALOUT%", entry.TotalOut);
						Replace(ref row, "%VOTELINK%", entry.VoteLink);
						Replace(ref row, "%STATUS%", entry.Status ? "images/statusup.png" : "images/statusdown.png");
						Replace(ref row, "%1DAYGRAPH%", entry.OneDayGraph);
						Replace(ref row, "%7DAYGRAPH%", entry.SevenDayGraph);
						Replace(ref row, "%14DAYGRAPH%", entry.FourteenDayGraph);
						Replace(ref row, "%30DAYGRAPH%", entry.ThirtyDayGraph);
						Replace(ref row, "%180DAYGRAPH%", entry.OneEightDayGraph);
						Replace(ref row, "%365DAYGRAPH%", entry.YearDayGraph);

						if( entry is CustomEntry )
						{
							Replace(ref row, "MORE INFO", "EDIT");
							Replace(ref row, "VOTE", "");
							Replace(ref row, "WEBSITE", "");
						}

                        Echo(row);						
					}					
				}
			 %>
			<div>&nbsp;</div>			
			<div align="center"><span class="buttons">Copyright 2007 <strong><a href="http://www.connectuo.com">www.connectuo.com</a></strong> All rights reserved.<br />Template created by Jeff</span> </div></td>
			</tr>
	  </table>
    </td>
    <td width="26" class="rightside"></td>
  </tr>
</table>
<table align="center" width="1024" border="0" cellpadding="0" cellspacing="0"><tr><td  height="18" class="bottom"></td></tr></table>
</body>

</html>
