          <div class="rows">
			  <div class="rowheader" align="left">
			    <table width="100%" border="0" cellpadding="1" cellspacing="0">
                  <tr>
				    <td width="1%" valign="middle">&nbsp;</td>
                    <td width="3%" valign="middle"><img src="%STATUS%"/></td>
                    <td width="96%" valign="middle"> Rank %RANK% - ~REQPATCHING~%SERVERNAME% </td>
                  </tr>
                </table>
  </div>
			  <div class="rowdesc" align="left">
			    <table cellspacing="5" width="930" border="0">
                  <tr>
                    <td width="776" rowspan="4">%DESCRIPTION%  
					  <div align="left" class="statsdiv"><br/></div>
					  <div align="left" class="stats">
					    <table width="100%" border="0">
                          <tr>
                            <td class="statsrightbottom" width="13%" align="center">Type</td>
                            <td class="statsrightbottom" width="8%" align="center">Era</td>
                            <td class="statsrightbottom" width="13%" align="center">Language</td>
                            <td class="statsrightbottom" width="15%" align="center">Online/Avg/Peak</td>
                            <td class="statsrightbottom" width="11%" align="center">Votes</td>
                            <td class="statsrightbottom" width="17%" align="center">Total Votes </td>
                            <td class="statsrightbottom" width="8%" align="center">Out</td>
                            <td class="statsend" width="15%" align="center">Total Out </td>
                          </tr>
                          <tr>
                            <td class="statsright" align="center">%TYPE%</td>
                            <td class="statsright" align="center">%ERA%</td>
                            <td class="statsright" align="center">%LANG%</td>
                            <td class="statsright" align="center">%ONLINE% / %AVG% / %PEAK%</td>
                            <td class="statsright" align="center">%VOTES%</td>
                            <td class="statsright" align="center">%TOTALVOTES%</td>
                            <td class="statsright" align="center">%OUT%</td>
                            <td class="stats" align="center">%TOTALOUT%</td>
                          </tr>
                        </table><br/><center><img src="%BANNER%" /></center>
					  </div>
                    </td>
                    <td width="147" rowspan="4" valign="middle">
					<table class="buttontable" width="147" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td align="left" class="buttons"><a href="%PLAYLINK%">PLAY</a></td>
                      </tr>
                      <tr>
                        <td align="left" class="buttons"><a href="%MOREINFOLINK%">MORE INFO </a></td>
                      </tr>
                      <tr>
                        <td align="left" class="buttons"><a href="%ADDTOFAVORITESLINK%">ADD TO FAVORITES</a> </td>
                      </tr>
                      <tr>
                        <td align="left" class="buttons"><a href="%WEBSITELINK%">WEBSITE</a></td>
                      </tr>
                      <tr>
                        <td align="left" class="buttons"><a href="%VOTELINK%">VOTE</a></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
		      </div>			  
			</div>
		  <div class="spacer">&nbsp;</div>